* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
hr{
  margin-top: 20px;
  width: 100%;
}
#background {
  box-sizing: border-box;
  background: url("../imgs/bg-layout.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 1000px;
  background-color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 0;
  border-bottom: #fff solid 1px;
  z-index: 1020;
  height: 80px;
}

.nav.active {
  background-color: #fff;
  transition: 0.5s ease-in-out;
}
.nav.active .login-component a{
  color: #000;
}
.nav.active .search-btn {
  background-color: #000;
  color: #fff;
}
.nav.active .header-icons a{
color: #000 !important;
}
.logo-container img {
  width: 60px;
  border-radius: 50%;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  box-sizing: unset;
  color: #000;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0;
  background: #fff;
  font-size: 12px;
}
.search-btn.active {
  background-color: #000;
}
.search-btn.active i {
  color: #fff;
}
.search-btn:hover {
  cursor: pointer;
}

#navbar li {
  list-style: none;
  padding: 0 25px;
  position: relative;
  border-right: 1.6px solid #000;
  transition: 0.5s;
}

#navbar li a {
  font-family: "raleway", sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
  transition: 0.5s;
}
.change-color nav ul li {
  list-style: none;
  padding: 0 25px;
  position: relative;
  border-right: 1.6px solid #fff !important;
}

.change-color nav ul li a {
  color: #fff !important;
}
.change-color nav ul li a:hover {
  color: #000 !important;
}
.change-color nav ul li:last-child {
  border-right: 0 !important;
}
.ul-bg.active #navbar a {
  color: #000 !important;
}

.ul-bg.active #navbar li {
  position: relative;
  border-right: 1.6px solid #000 !important;
  transition: 0.5s;
}
.ul-bg.active #navbar li:last-child {
  border-right: 0 !important;
}
#navbar li a:focus {
  color: #000;
}
#navbar li a:focus::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -29px;
  left: 0;
}
#navbar li:last-child {
  border-right: 0;
}

#navbar li a:hover {
  color: #000;
}

#navbar li a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: #000;
  position: absolute;
  bottom: -29px;
  left: 0;
  transition: width 0.3s ease; 
}

#navbar li a:hover::after {
  width: 100%;
}

.toggle-menu i {
  color: #fff;
}
.toggle-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .login-component{
    display: none;
  }
  #header-icons{
    position: relative;
    left: 10px;
  }
.shop-container{
  display: inline-block !important;
  width: 100% !important;
  margin-bottom: 0;
  padding-right: 0;
  margin-top: 0;
}
.product-name{
  text-transform: uppercase;
}
.product-details{
  margin-top: 10px;
margin-left: 0 !important;

}

.shop-container img{
  width: 100% !important;
  max-height: 400px;
}
.shop-container h2{
  text-align: center;
}
.shop-container .hr{
    margin: 30px auto;
    width: 90%;
}
  .toggle-menu {
    display: block;

    position: absolute;
    left: 35px;

    z-index: 1022;
    margin-right: 10px;
  }
  .nav.active .toggle-menu i {
    color: #000;
  }
  .fas.fa-times {
    transition: 0.5s;
  }
  .nav.active .fas.fa-times,
  .nav.active #navbar li a {
    color: #fff !important;
  }
  .nav.active #navbar li {
    border: none !important;
  }
  .toggle-menu i {
    font-size: 15px;
    cursor: pointer;
  }
  .toggle-menu.active .fas.fa-bars {
    color: #000;
  }
  .fas.fa-times {
    color: #fff !important;
  }
  .toggle-menu.active i {
    color: #000;
  }
  
  .logo-container img {
    position: relative;
    height: 50px;
    width: 50px;
    left: 60px;
  }

  #navbar li:first-child {
    margin-top: 50px;
  }
  #navbar li a {
    color: #fff !important;
  }
  #navbar li {
    margin-bottom: 25px;
    border-right: 0 !important;
  }

  .nav.active {
    display: flex;
    justify-content: space-around;
    z-index: 1021;
    position: sticky;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    z-index: 1020;
    top: 0;
    left: -600px;
    height: 100%;
    width: 300px;
    background-color: #212121;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.4);
    padding: 40px 0 0 300px;
    transition: 0.5s ease-in-out;
  }

  #navbar.active {
    left: 0px;
    padding: 40px 0 0 10px;
  }
  .ul-bg.active #navbar li {
    border: none;
  }
  .ul-bg.active #navbar a {
    color: #000;
  }
  #navbar li a:focus::after {
    content: "";
    width: 0;
    height: 0;
    background-color: transparent;
  }
  #navbar li a:hover {
    color: #fff;
  }
  #navbar li a:hover::after {
    content: "";
    width: 0%;
    height: 0;
    background-color: transparent;

    color: #fff;
    left: 0;
  }
}
/*productcreate*/
/* ProductCreate.css ***********************************************************************************/

.product-form {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.form-button:disabled {
  background-color: #d3d3d3;
  cursor: not-allowed;
}

.error-message {
  margin-top: 10px;
  color: red;
}

/* login ***********************************************************************************/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
#header-icons{
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  right: -100px;
}
#header-icons a{
  font-size: 25px;
}
.cart a{
  position: relative;
  bottom: -2px;
  color: #fff;
}
.wishlist a{
  position: relative;
  bottom: -2px;
  color: #fff;
}
.login-component{
  position: relative;
  bottom: -2px;
}
.header-icons.active a{
  color: #000;
}
.login-component a{
text-decoration: none;
color: #fff;
font-size: large;
}
.login-component button{
  background-color: transparent;
  color: #fff;
  border: none;
}
.login-component i{
  font-size: 2em;
}
.title-log {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

.text {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.span {
  font-size: 12px;
}

.link {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.btn {
  border-radius: 20px;
  border: 1px solid #eee;
  background-color: #000;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;
}

.btn.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.cont-input input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.Login {
  margin: 2em auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.Login.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.Login.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.Login.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #000;
  background: linear-gradient(to right, grey, #fff, grey);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.Login.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.Login.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.Login.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
/* home page ***********************************************************************************/
.middle-background h6 {
  font-size: 20px;

  text-transform: capitalize;
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-bottom: 50px;
}
.middle-background h1 {
  text-transform: capitalize;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  color: #fff;
  margin-bottom: 50px;
}
.empty-section {
  margin: auto;
  padding: 80px 0;
}
.empty-section h2 {
  color: #151208d5;
  font-weight: 200px;
  text-align: center;
  font-family: "raleway", sans-serif;
  margin-bottom: 17px;
}

.home-text {
  margin: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  max-width: 800px;
  letter-spacing: 1px;
  color: #595959;
}
/* ProductCard.css ************************************************************************************/

.product-cont {
  margin: 15px 15px 40px;
}
.products-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);

  gap: 15px;
  justify-content: center;
  overflow: hidden;
}

.product-card {
  margin: auto;
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: 440px; /* Set a maximum width to control the size on larger screens */
  cursor: pointer;
}

.product-card img {
  width: 100%;
  height: 400px;
}

.product-details {
  margin-bottom: 10px;
}

.product-name {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #212129;
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: start;
}

.price {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #595959;
  margin-bottom: 5px;
}

.availability {
  font-weight: bold;
}

.in-stock {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: green;
}

.out-of-stock {
  color: #cf9362;
}
/* .Login {
  display: none;
} */
@media screen and (min-width: 1055px) {
  .product-card {
    height: 450px;
    max-width: 450px; /* Set a maximum width to control the size on larger screens */
  }
  .product-card img {
    height: 360px;
  }
}
@media screen and (max-width: 1055px) {
  .products-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .product-card {
    margin: auto;
    overflow: hidden;

    height: 400px;
    max-width: 350px; /* Set a maximum width to control the size on larger screens */
  }
  .product-card img {
    height: 300px;
  }
  .header-icons{
    position: relative;
    left: 10px;
  }
}
@media screen and  (max-width: 1430px){
  .header-icons{
    position: relative;
    left: 10px;
  }
  .product-card{
    height: 330px;
  }
  .product-card img{
    height: 250px;

  }
}
.li-3rd-child{
  display: none;
}
@media screen and (max-width: 769px) {
  .li-3rd-child{
    display: block;
  }
  .products-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .product-card img {
    height: 200px;
  }
  .product-card {
    height: 280px;
    max-width: 500px;
  }
  .middle-background {
    top: 30% !important;
    left: 10% !important;
  }
  #background {
    max-height: 700px;
  }
  .empty-section h2 {
    font-size: x-large;
  }
  .empty-section {
    text-align: center;
    width: 70%;
  }
}

/* button */
.middle-background {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
}
.button {
  width: 150px;
  border: unset;
  padding: 15px 25px;
  color: #212121;
  z-index: 1;
  background: #fff;
  position: relative;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  /* -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
  /* box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
  transition: all 500ms;
  overflow: hidden;
  outline: 1px solid #fff;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #000;
  z-index: -1;
  /* box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27); */
  transition: all 250ms;
  overflow: hidden;
}

.button:hover {
  color: #e8e8e8;
}

.button:hover::before {
  width: 100%;
}

/* footer */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.container-footer {
  max-width: 1170px;
  margin: auto;
}
.row-footer {
  display: flex;
  flex-wrap: wrap;
}
.footer-ul {
  list-style: none;
}
.footer {
  background-color: #151208d5;
  padding: 70px 0;
  position: relative !important;
  bottom: 0;
  width: 100%;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 2px;
  bottom: -10px;
  background-color: #fff;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
.shop-container{
display: flex;
align-items: center;
justify-content: center;
}
  .product-details.allofit {
    margin-left: 40px;
  text-align: center;

}
.product-details.allofit h2{
  text-align: center;
}
.shop-container img{
  height: 500px;
  width: 500px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.product-quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 129px;
}
.product-quantity button{
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
  border: none;
}
.d-b{
  display: none;
}
.status-error{
  margin-top:10px;
color: red;
}
.status-succeed{
  margin-top: 10px;
  color: #79aa7a;
}
.info-container{
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #eee;
  width: 300px;
  cursor: pointer;
  height: 100px;
  border-radius: 4px;
}
.info-container i {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
a{
  text-decoration: none;
  color: inherit;
}