.cont-cart{
    width: 80% !important;
    margin: auto;
  font-family: "Raleway", sans-serif;
  margin-bottom: 20px;

}
.no-cart{
    padding-bottom: 20px;
    padding-left: 20px;

}
.home-cart{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    

}
.panier{
  border: 1.5px solid #eee;


}
.panier {
    padding: 0 !important;
    margin-bottom: 20px;
}
.panier h4{
    margin-bottom: 20px;
    border-bottom: 1px solid #eee !important;
    border-radius: 0% !important;
    padding: 15px 10px;
    font-weight: 500;
}

.cont-cart hr{
    width: 98% !important;
    margin: auto;
    
}
.cart-overview{
    border-radius: 5px;
    width: 100%;
    background-color: #fff;
    padding: 12px 10px;
    
}
.cart-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.pr-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 60%;
}
.pr-info img{
    margin-right: 20px;
}
.br-r{
    border-right: #bbb 1px solid;
    height: 90px;
    padding: 0 20px;
    
}

.cart-container img{
    width: 120px;
    height: 120px;
}
.commander-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.rm-btn{
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.flex-col{
    display: flex;
    flex-direction: column;
    
}
.commander-actions button{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    border: 1px solid #000;

}
.quantity-cart{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.quantity-btn{
    border: none;
    background-color: #eee;
    padding: 0 7px;
    cursor: pointer;
}
.quantity-span{
    padding: 0 10px;
}
.flex-col p:first-child{
    margin-bottom: 20px;
}
@media screen and  (max-width: 769px) {
    .cart-container img{
        width: 80px;
        height: 80px;
    }
    .br-r{
        border-right: none;
    padding: 0 5px;

    }
    .pr-info img{
        margin-right: 10px;
    }
    .cart-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    
    }
    .pr-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 99%;
    }
}
/*********************************************************/
.cart-btn {
    display: inline-block;
  font-family: "Raleway", sans-serif;
    font-weight: 500;
    position: relative;
    text-decoration: none ;
    background-color: #fff;
    padding-bottom: 5px; 
    border: none;
    transition: border-bottom-color 0.3s ease; 
    color: #333; 
    margin-top: 20px;
    cursor: pointer;
  }

  .cart-btn:hover {
    border-bottom-color: #000; 
  }

  .cart-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px; 
    background-color: #333; 
    transition: width 0.3s ease; 
  }

  .cart-btn:hover::before {
    width: 100%;
  }