*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b2430;
  padding: 5px 80px 1px  80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;

}
#navbar li{
  list-style: none;
  padding: 0 20px;
  position: relative;
  border-right: 1.6px solid #fff;

}
#navbar li:last-child{
  border-right: 0;
}
#navbar li a{
  font-family: Arial, sans-serif;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #fff;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active{
  color: #17cf97;
}
#navbar li a.active::after,
#navbar li a:hover::after{
  content: '';
  width: 30%;
  height: 2px;
  background-color: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
.toggle-menu i{
  color: #fff;
}
.toggle-menu{
  display: none;
}
@media screen and (max-width: 900px) {
  
  .logo{
    margin-left: -50px;
  }
  .toggle-menu{
    display: block;
  }
  .toggle-menu i {
    margin-right: -90px;
    font-size: 25px;
    cursor: pointer;
  }
  #navbar li{
    
    margin-bottom: 25px;
    border-right: 0;
  }
  #navbar{
    display: flex;
    flex-direction:column ;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 111px;
    right: -300px;
    height: 500px;
    width: 300px;
    background-color: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.5s ease-in-out;
  }
  #navbar.active {
    right: 0px;
  }
}